<header id="header">
  {{!-- <div class="header-inner"> --}}
    {{!-- <div class="container"> --}}
      {{!-- <h1 class="inner">Test</h1> --}}
    {{!-- </div> --}}
  {{!-- </div> --}}

    <!-- Logo -->
    <h1 class="logo">
      {{title}}
    </h1>
    

    <h1 class="list-inline">
      SOURCES
    </h1>


    <div id="siteList" class="list-inline">
      <div class="site">
        <a href="https://sosul.network/">
          <img class="site" src="https://media.sosul.network/static/base/images/logo.png" width="110px" height="auto">
        </a>
      </div>

      <div class="site">
        <a class ="site" href="https://page.kakao.com/main/">
          <img class="site" src="https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/service/79ad9096017900001.png" height="70px" width="auto">
        </a>
      </div>

      <div class="site">
        <a class ="site" href="https://ridibooks.com/">
          <img class="site" src="https://pbs.twimg.com/profile_images/1377935282247376896/QycKic8m.png" height="70px" width="auto">
        </a>
      </div>
    </div>   
  </div> 
</header>