body {
  background: #FFFFFF;
  color: #000000;
  font-family: Arial,sans-serif;
  margin: 40px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

h1.logo {
  margin: 0px;
  margin-bottom: 12px;
  background: #8b7e7e;
  text-align: center;
  color: #FFFFFF;
  font-size: 28px;
  font-style: italic;
}

h1.logo::first-letter {
  font-size: 40px;
}

h2.sub {
  margin: 0px;
  margin-bottom: 12px;
  font-family: monospace;
  font-size: 25px;
}

div.clock {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  margin-bottom: 10px;
  width: 100px;
  height: auto;
}

h1.h1-clock {
  text-align: center;
  font-family: fantasy;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  padding: 8px;
  border-style: solid
}

tr.contents {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgrow {
  padding: 0;
}

img {
  vertical-align: middle;
  border: 0px;
  margin: 0;
  padding: 0;
  width:100.5%;
  height: auto;
}



