body {
  background: #FFFFFF;
  color: #000000;
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.header-inner {
  box-shadow: 0 12px 6px rgb(0 0 0 / 6%);
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  width: 100%;
  height: 80px;
  transition: top 8s ease-in-out;
  background-color: #FFFFFF;
  opacity: 80%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
}

h1.inner {
  vertical-align: 100px;
}

h1.logo {
  margin: 50px;
  margin-top: 90px;
  margin-bottom: 40px;
  padding: 0px;
  background: #9b9999;
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

h1.logo::first-letter {
  font-size: 70px;
}

h2.sub {
  margin: 0px;
  margin-bottom: 12px;
  font-family: monospace;
  font-size: 25px;
  margin-left: 315px;
  vertical-align: -10px;
}

div.clock {
  font-family: fantasy;
  margin-left: 90px;
  margin-right: auto;
  border-style: solid;
  margin-bottom: 10px;
  width: 200px;
  height: auto;
  
}

#clock {
  display: inline-block;
  padding-left: 5px
}

h1.h1-clock {
  text-align: center;
  font-family: fantasy;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  padding: 8px;
  border-style: solid
}

tr.contents {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgrow {
  padding: 0;
}

img.timg {
  vertical-align: middle;
  border: 0px;
  margin: 0;
  padding: 0;
  width:100.5%;
  height: auto;
}

.list-inline {
  font-family: monospace;
  font-size: 25px;
}

div#siteList {
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-style: solid;
  width: 400px;
  height: 80px;
  padding-top: 10px;
}

div.site {
  vertical-align: middle;
  width: 120px;
  height: 70px;
  display: inline-block;
  
}

a.stie {
  vertical-align: middle;
}

#inline-tt {
  display: inline-block;
}

table {
  margin-bottom: 20px;
}

.imgTable {
  margin-top: 20px;
}

.cId {
  width: 100px;
}

.updated {
  width: 150px;
}

.inlineTable {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
}

.new {
  display: none;
  position: fixed;
  background: #d6d6d6;
  width: 800px; 
  height: 600px;
  top: 100px;
  left: 450px;
  opacity: 95%;
  box-shadow: 40px 40px 12px 6px rgb(0 0 0 / 50%);
}

.newClose {
  position: fixed;
  color: #FFFFFF;
  top: 100px;
  left: 1217px;
  font-size: xx-large;
  border-style: none;
  background: #ff5e5e;
}

.bcButton {
  background: #e6ff55;
  font-size: x-small;
}

.bcTable {
  margin-top: 20px;
  /* margin-left: 10px;
  margin-right: 10px; */
  
}

.bcTop {
  font-size: x-large;
}

.bcH1 {
  font-family: fantasy;
  font-size: xx-large;
  margin-top: 20px;
}

.hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 600px;
  height: 200px;
}

.bcTable.inline {
  margin-top: 0px;
  display: inline-block;
}

.bcTable.inline.color {
  margin-left: 20px;
  color: #000000;
  background: rgb(255, 255, 255)
}

.borderColor {
  border-color: #ff0000;
  font-size: larger;
}

a:link {
  color : black;
  text-decoration: none;
}

a:visited {
  color : black;
  text-decoration: none;
}

a:hover {
  color : red;
  text-decoration: underline;
}

a:active {
  color : green;
  text-decoration: none;
}

a:hover.bcContent  {
  color: rgb(57, 76, 112);
  text-decoration: underline;
}

button:hover {
  color : red;
  text-decoration: underline;
}

.t3 {
  margin-top: 30px;
}

.b3.inline {
  vertical-align: middle;
  display: inline-block;
}

.btnT3 {
  border-color: #000000;
  font-size: x-large;
  background-color: #ff5e5e;
  width: 400px;
  height: 40px;
  vertical-align: 40px;
  border-radius: 10px;
}

.a31 {
  background-color: rgb(172, 172, 255);
  color: #d6d6d6;
}

.a33 {
  background-color: #917575;
}

.t3c {
  font-size: small;
}